<h1>All the restaurant lists:</h1>
<ul>
<% @restaurants.each do |restaurant| %>
<li><%= restaurant.name %></li>
<li><%= link_to "See details", restaurant_path(restaurant.id), class: "btn btn-primary"
 %></li>

<% end %>
</ul>
